###> application runtime environment ###
APP_ENV=dev
###< application runtime environment ###

###> database configuration ###

## Connection type can be "dsn", "mysql", or "db2i"
DB_CONNECTION_TYPE=db2i
DB_USER=myuserid
DB_PASSWORD=MyP@ssW0rd

## Uncomment one of the sections below (DSN, MySQL, or Db2 for i)

## DSN (data source name) 
## For IBM i, *LOCAL is often a good choice for DSN.
## Globally available DSNs are in `/QOpenSys/etc/odbc.ini` 
## Individual DSNs are in user's home directory `~/.odbc.ini` 
## Enter the name of the defined DSN here, or leave empty to 
## use an ad-hoc connection string defined below.
## https://ibmi-oss-docs.readthedocs.io/en/latest/odbc/using.html
#DB_DSN=*LOCAL


## MySQL
#DB_MYSQL_HOST=localhost
#DB_MYSQL_DATABASE=mylocaldatabase    
#DB_MYSQL_PORT=3306 


## Db2 for i
## Specifies the IBM i system name to connect. Can be:
##  - Fully Qualified Domain Name (myibmi.example.com)
##  - Unqualified system host name (myibmi)
##  - IP address (192.0.2.1, 2001:db8::1)
#DB_SYSTEM=localhost  
    
## Specifies the naming convention used when referring to tables.
## 0=SQL naming (this is the default) 
## 1=*SYS naming (uses library list)
#DB_NAM=1

## Library list 
## First library listed becomes CURRENT SCHEMA (disables library list).
## For system naming/library list, add a leading comma before any libraries.
## The default value is QGPL
#DB_LIBL=,QTEMP,MYLIB,MYLIB2,MYLIB3

## CCSID
## Default is 0 (use default client codepage setting)
#DB_CCSID=1208

## A complete list of IBM i Access ODBC Driver connection options can be found here:
## https://www.ibm.com/docs/en/i/7.4?topic=details-connection-string-keywords 

###< database configuration ###
